{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk/template.njk" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/govuk-frontend-4.0.1.min.css" />
  <script src="/govuk-frontend-4.0.1.min.js"></script>
{% endblock %}

{% block pageTitle %}
  GOV.UK Prototype UI - Docs
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block bodyEnd %}
  {% block scripts %}
    <script>
      window.GOVUKFrontend.initAll();
    </script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}